body{
	background: rgb(34,193,195);
	background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(75,253,45,1) 100%);
    color: white;
    font-family: Helvetica;
    font-size: 20px;
	}
h1, p, a, {

			font-size: 1.5em;
		}
a {
	color:white ;
	transition:color 300ms ease-in;
	}
a:hover { color:#ff0092;}
img{
	max-width: 100%;
}
#container{
	max-width: 600px;
	margin:0 auto;
}
.link{
	list-style: none;
}
ul {
	border: 2px solid white; 
}
li { display:inline;
	margin:10px 15px;
   }
button, input  {
	display: block;
	background: plum;
	border: 2px solid lighblue;
	border-radius: 3px;
	font-size:20px;
	margin: 5px;
}
